html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: calc(100vh - 100px);
  font-family: 'DM Sans', sans-serif;
  margin: 0 auto;
}

p{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.nav{
  width: 100%;
  margin: 0 auto;
}

.nav--wrapper{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav--links{
  display: flex;
  justify-content: space-between;
}

.nav p a{
  color: black;
  text-decoration: none;
  padding-left: 50px;
}

.nav p a:before {
    content:"• ";
    color: white;
}

.nav p a:hover{
  color: black;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.nav p a:hover::before{
  content:"• ";
  color: #1E90FF;
}

.hero{
  width: 100%;
  margin: 0 auto;
}

.hero--wrapper{
  max-width: 1200px;
  margin: auto;
}

.products{
  width: 100%;
  margin: 0 auto;
}

.products--wrapper{
  max-width: 1200px;
  margin: auto;
}

.team{
  width: 100%;
  margin: 0 auto;
}

.team--wrapper{
  max-width: 1200px;
  margin: auto;
}

.careers{
  width: 100%;
  margin: 0 auto;
}

.careers--wrapper{
  max-width: 1200px;
  margin: auto;
}

.footer{
  width: 100%;
  margin: 0 auto;
}


.footer--wrapper{
  max-width: 1200px;
  margin: auto;
}
