html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: calc(100vh - 100px);
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

.nav{
  width: 100%;
  margin: 0 auto;
}

.nav--wrapper{
  max-width: 1200px;
}

.hero{
  width: 100%;
  margin: 0 auto;
}

.hero--wrapper{

}

.products{
  width: 100%;
  margin: 0 auto;
}

.products--wrapper{

}

.team{
  width: 100%;
  margin: 0 auto;
}

.team--wrapper{

}

.careers{
  width: 100%;
  margin: 0 auto;
}

.careers--wrapper{

}

.footer{
  width: 100%;
  margin: 0 auto;
}


.footer--wrapper{

}
