html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: calc(100vh - 100px);
  font-family: 'DM Sans', sans-serif;
  margin: auto;
}

p{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

a{
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.nav{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.nav--wrapper{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav--links{
  display: grid;
  grid-template-columns: 115px 115px 115px 245px;
  justify-items: center;
  justify-content: end;
  align-items: center;
}

.nav a{
  color: black;
  text-decoration: none;
}

.nav a:before {
    content:"• ";
    color: white;
}

.nav a:hover{
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.nav a:hover::before{
  content:"• ";
  color: #1E90FF;
}

.hero{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.hero--wrapper{
  max-width: 1200px;
  margin: auto;
}

.products{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.products--wrapper{
  max-width: 1200px;
  margin: auto;
}

.team{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.team--wrapper{
  max-width: 1200px;
  margin: auto;
}

.careers{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.careers--wrapper{
  max-width: 1200px;
  margin: auto;
}

.footer{
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}


.footer--wrapper{
  max-width: 1200px;
  margin: auto;
}
